.photoPost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}



.dropZone {
  border: 2px dashed #ccc;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-bottom: 1rem;
}

.dropZone p {
  margin: 0;
  font-weight: bold;
}

.dropZone span {
  font-size: 0.875rem;
  color: #666;
}

.file {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.preview {
    border-radius: 1rem;
    background-size: cover;
    background-position: center center;
}

.preview::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}